[Unit]
Description=Developer Portfolio Docker Compose Application
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash $HOME/developer-portfolio/ops/scripts/developer-portfolio.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
